.input-card {
  padding: 0.5em;
}

.input-wrapper {
  margin: 0.5em 0 1em 0;
  position: relative;
}

.input-wrapper > img {
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(75%);
}

input {
  font: inherit;
  text-align: right;
  border-style: none;
  border-radius: 0.3rem;
  padding: 0.6em;
  width: 100%;
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 41%, 97%);
}

.tip-selector-box {
  padding: 1em 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.8em;
}

.tip-percentage-box {
  text-align: center;
  color: hsl(189, 41%, 97%);
  border-radius: 5px;
  padding: 0.5em;
  cursor: pointer;
  background-color: hsl(183, 100%, 15%);
}

.active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.custom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
}
