.input-card {
  padding: 0.5em;
}

.input-wrapper {
  margin: 0.5em 0 1em 0;
  position: relative;
}

.input-wrapper > img {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.tip-input-wrapper {
  position: relative;
}

.input__input {
  font: inherit;
  text-align: right;
  border-style: none;
  border-radius: 0.3rem;
  padding: 0.6em;
  width: 100%;
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 41%, 97%);
}

.input__input:hover {
  box-shadow: 0 0 5px hsl(184, 14%, 56%);
  transition: box-shadow 100ms ease-in-out;
}

.input__input:focus {
  outline-color: hsl(184, 14%, 56%);
}

.tip-selector-box {
  padding: 1em 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.8em;
}

.tip-percentage-box {
  text-align: center;
  color: hsl(189, 41%, 97%);
  border-radius: 5px;
  padding: 0.5em;
  cursor: pointer;
  background-color: hsl(183, 100%, 15%);
}

.tip-percentage-box:hover {
  box-shadow: 0 0 5px hsl(183, 100%, 15%);
  transition: box-shadow 100ms ease-out;
}

.active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.active:hover {
  box-shadow: 0 0 5px hsl(172, 67%, 45%);
  transition: box-shadow 100ms ease-out;
}

.custom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(186, 14%, 43%);
}

.custom:hover {
  box-shadow: 0 0 5px hsl(184, 14%, 56%);
  transition: box-shadow 100ms ease-out;
}

.error-message {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  color: #ff9494;
  font-size: 0.7em;
}

.error-filter {
  filter: invert(48%) sepia(7%) saturate(4593%) hue-rotate(317deg)
    brightness(116%) contrast(99%);
}

.error {
  background-color: #ffeeed;
}

.error:focus {
  outline-color: #ff9494;
}
