.result {
  background-color: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
  border-radius: 0.8rem;
  padding: 2em;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px #ccc;
}

.result__heading {
  color: hsl(189, 41%, 97%);
}

.result__paragraph {
  color: hsl(184, 14%, 56%);
  letter-spacing: 0.1em;
  font-size: 0.7em;
}

.result__container {
  padding: 1em 0;
  display: flex;
}

.result__container--inner {
  padding: 0;
  flex-direction: column;
}

.result__value {
  color: hsl(172, 67%, 45%);
  font-size: 2em;
  margin-left: auto;
}
