header {
  position: absolute;
  top: 1rem;
  right: 50%;
  transform: translateX(50%);
}

.title {
  color: hsl(186, 14%, 43%);
  line-height: 1em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

@media (min-width: 720px) {
  header {
    top: 6rem;
  }
}
