header {
  margin-top: 4rem;
}

.title__text {
  color: hsl(186, 14%, 43%);
  line-height: 1em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

@media (min-width: 720px) {
  header {
    margin-top: 6rem;
  }
}
