.reset-button {
  margin-top: auto;
  padding: 0.5em;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
}
