.reset-button {
  margin-top: auto;
  padding: 0.5em;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
}

.reset-button:hover {
  box-shadow: 0 0 10px hsl(172, 67%, 45%);
  transition: box-shadow 50ms ease-in;
}

.reset-button:active {
  transform: translateY(1px);
  transition: transform 100ms ease-out;
}
