.input-card {
  padding: 1em;
}

.result-heading {
  color: hsl(189, 41%, 97%);
}

.per-person {
  color: hsl(184, 14%, 56%);
  letter-spacing: 0.1em;
  font-size: 0.7em;
}

.tip-result {
  color: hsl(172, 67%, 45%);
  font-size: 2em;
  margin-left: auto;
}
