.input {
  padding: 0.5em;
}

.input__wrapper {
  margin: 0.5em 0 1em 0;
  position: relative;
}

.input__wrapper > img {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.input__input {
  font: inherit;
  text-align: right;
  border-style: none;
  border-radius: 0.3rem;
  padding: 0.6em;
  width: 100%;
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 41%, 97%);
}

.input__input:hover {
  box-shadow: 0 0 5px hsl(184, 14%, 56%);
  transition: box-shadow 100ms ease-in-out;
}

.input__input:focus {
  outline-color: hsl(184, 14%, 56%);
}

.input__message--error {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(100%);
  color: #ff9494;
  font-size: 0.7em;
}

.input__header--error,
.input__icon--error {
  filter: brightness(0) saturate(100%) invert(82%) sepia(16%) saturate(3020%)
    hue-rotate(301deg) brightness(102%) contrast(100%);
}

.input__input--error {
  background-color: #ffeeed;
}

.input__input--error:focus {
  outline-color: #ff9494;
}
