.main {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
}

.main__calculator {
  padding: 1.8em;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0 5px hsl(184, 14%, 56%);
}

@media (min-width: 720px) {
  .main__calculator {
    /* offset the space taken by header padding */
    /* margin-top: -6rem; */
    max-width: 50rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
}
